# PHY1031 Homework I - core datatypes and methods

This homework is marked out of **20** and counts for 10% of your module mark.
   * **15 marks** for correctly functioning code (see mark allocations below).
   * an additional **5 marks** are available for good programming practice.  At this stage, that means
      * appropriate use of Python constructs and datatypes
      * short, descriptive object names
      * using a separate cell for each task
      * for the longer exercises, adding one-line #comments to explain how the code works
      
Complete the exercises below in this Jupyter notebook.  Save as an `.ipynb` file and upload this to ELE.

## 1. Creating datatypes [5 marks]
Create the following Python objects:

* a `float` with the number $2 \times 10^6$
* a `complex` number $3.2 - 4.3i$
* a `str` containing your student ID number (on your Uni card)
* a `tuple` containing today's day, month, and year stored as integers
* a `list` of the Term 1 module codes for the modules you are taking (PHY1031 etc.)

In [12]:
#creating the floating point number 2x10^6
a = 2e6
type(a)

float

In [11]:
#creating the complex number 3.2-4.3i
b = 3.2 - 4.3j
type(b)

complex

In [10]:
#creating a string containing my student ID number
c = str(730037183)
type(c)

str

In [24]:
#creating a tuple containing todays day, month and year as integers
d = (9,10,2023)
type(d)

tuple

In [25]:
#checking the type of the values inside the tuple d
type(d[1])

int

In [13]:
#creating a list containing the module codes that I am currently taking
e = ["PHY1022","PHY1025","PHY1027","PHY1031","PHY1021"]
type(e)

list

## 2. indexing and slicing [3 marks]

Below is a list of elements.  Use indexing and slicing to find
   * the second item in the list
   * the last two items in the list
   * the middle three items in the list

Now use list methods and built-in methods to 
* find the number of elements in the list.
* add the elements 'F' and 'Ne' to the end of the list
* insert the element 'Be' between 'Li' and 'B'

_Hint: if your list starts to get multiple copies of elements, try Kernel -> Restart and Run All_

In [42]:
elements = ['H', 'He', 'Li', 'B', 'C', 'N', 'O']

In [20]:
#finding the second item in the list
elements[1]

'He'

In [27]:
#finding the last two items in the list
elements[-2:]

['N', 'O']

In [34]:
#finding the middle three items in the list
x = len(elements)
#finding which object in the list to start with
y = int((x-1)/2-1)
#finding which object in the list to end with
z = int((x+1)/2+1)
#outputting the results
elements[y:z]

['Li', 'B', 'C']

In [35]:
#finding the length of the list
len(elements)

7

In [43]:
#adding the elements F and Ne to the list
elements.append("F")
elements.append("Ne")
elements

['H', 'He', 'Li', 'B', 'C', 'N', 'O', 'F', 'Ne']

In [44]:
#inserting Be between Li and B
elements.insert(3,"Be")
elements

['H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F', 'Ne']

## 3.  classification dictionary [3 marks]

The degree classifications and corresponding minimum percentages at this University are given in the following table:

| class | % |
|--------|-----------| 
| 3rd | 39.5 |
| 2:II | 49.5 |
| 2:I| 59.5 |
| 1st | 69.5 |
 
* Create a dictionary containing this information.  Use appropriate datatypes for the classification and percentage.
* Index the dictionary to find the percentage associated with a 2:I classification.
* Now use dictionary methods to extract the same information

In [46]:
#creating the dictionary
classification = {"3rd":39.5,"2:2":49.5,"2:1":59.5,"1st":69.5}

{'3rd': 39.5, '2:2': 49.5, '2:1': 59.5, '1st': 69.5}

In [48]:
#indexing to find the percentage required for a 2:1
classification.get("2:1")

59.5

In [61]:
percentages = list(classification.values())
grades = list(classification.keys())
x = grades.index("2:1")
percentages[x]

59.5

## 4. string methods for filenames [4 marks]
    
String operations are often needed for manipulating filenames.  Complete the function `fix_filename` using string methods, operators and built-in methods on strings to append a version number to a filename, returning the new filename, for example changing
* "cam_0129.jpeg" into "cam_0129_v2.jpeg"
* "image22.png" into "image22_v2.png". 

Try to find a general method that doesn't depend on the number of characters in the filename or extension. 

Test the function by calling it with each of the filenames to show that it works (include this testing in your hand-in).

In [70]:
def fix_filename(filename):
    filename_new = filename.replace(".","_v2.")
    return filename_new

In [65]:
# filenames to use for testing
f1 = "cam_0129.jpeg"
f2 = "image22.png"

In [71]:
fix_filename(f1)

'cam_0129_v2.jpeg'

In [72]:
fix_filename(f2)

'image22_v2.png'